* {
	margin: 0;
	padding: 0
}

canvas {
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 80%;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: white;
	width: 100%;
	height: 100%;
}